a {
  color: antiquewhite
}

p {
  margin: 0;
  padding-left: 10px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  margin: auto;
}

main {
  background-image: url("./vintage.jpg");
  flex: 1 0 auto;
}

footer {
  display: flex;
  align-items: center;
  line-height: 30px;
}
